:root {
  --font: 'Fira Sans Condensed', sans-serif;
}

body {
  font-family: var(--font);
  padding: 20px 60px;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

.error-box {
  background-color: orangered;
  color: white;
  padding: 0.5rem 1rem;
}
